.container-elementos-header {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-principal {
  font-size: 24px;
  color: #0000ee;
  font-weight: 400;
}

.label-pesquisa {
  background-color: #db1e8c;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
}

.input-pesquisa {
  color: #fcfafb;
  background-color: transparent;
  padding: 4px;
  border: none;
  outline: none;
}

::placeholder {
  color: #ff97d3;
}
