.trilhas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #f5f5f5;
  margin-top: 37px;

  width: 260px;
  height: auto;
  padding: 1rem;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.textos{
  margin-bottom: 15%;
}


.titulo-trilhas{
  color: #364372;
  font-size: 18px;
  font-weight: 600;
}

.texto-trilhas{
  color: #000000;
  font-size: 13px;
  font-weight: 400;

  font-style: normal;
  text-align: justify;
  margin-top: 14px;
}

.botao-trilhas{
  width: 138px;
  height: 47px;
  
  margin-right: auto;
  margin-block-start: auto;
  
  border: 1px solid #264fec;
  border-radius: 4px;
  box-sizing: border-box;
  
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #264fec;
  cursor: pointer;
} 
